<% layout('layouts/boilerplate') %>
<form action="/articles" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="article[title]">
    </div>
    <div>
        <label for="game">Game</label>
        <input type="text" id="game" name="article[game]">
    </div>
    <div>
    <button>Create Blog Entry</button>
</form>
<div>
    <a href="/articles">Back</a>
</div>